@import url('https://fonts.cdnfonts.com/css/lato');

:root{
    --primaryColor:#4172DC;
    --primaryFontFamily:lato;
}
/* * {
  outline: 1px solid red;
} */
 *{
  font-family: 'Lato';
 }
.header nav .nav-link{
  color: #555555;
}
.header nav .nav-link.active {
    color: #FF7A00;
}
.social-media a .fa-facebook,
.social-media a .fa-instagram,
.social-media a .fa-telegram {
  color: #C4C4C4;
}
.flash-sales .gray-text{
  color:#9D9D9D;
}
.hero {
  background-image: url(../img/background-hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-btn{
    color: #4172DC;
}
.hero-btn i{
    color: white
}
.hero .card{
    padding: 0px;
    margin: 0px;
}
.hero .card .card-footer{

    background-color: black;
}
.hero .card .card-footer h3{
font-size: 15px;
font-weight: 200;
}
.hero .card .card-body p{
color: red;
font-weight: bold;
}
.hero .card{
top: 33%;
left: 26%;
width: 230px;
height: 150px;
}

@media only screen and (max-width: 991px) {
  /* .black-navbar .nav-center{
  display: none;
} */

  .hero .card {
    display: none;
  }
  .footer .copyright{
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .nowrap-mobile{
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .black-navbar,.white-navbar , .header .social-media{
  display: none;
}
  .hero  {
    display: none;
  }
  .footer .dropdown,
  .footer .social-media,
  .footer hr ,
  .footer p,
  .footer .copyright,
  .footer .newsletter {
    display: none;
  }
}
.custom-border {
  border-left: 1px solid #7B7B7B !important;
  border-right: 1px solid #7B7B7B !important;
}
.scroll-mobile::-webkit-scrollbar {
  display: none; 
}
.trending .card-body h5,p{
  font-size: 14px;
}
.promo-banners .left-side .promo-card1{
background: #BF2E3B;
}
.promo-banners .right-side .promo-card2{
background: #0186C4;
}
.promo-banners2 .left-side .promo-card1{
background: #D11FB5;
}
.promo-banners2 .right-side .promo-card2{
background: #0186C4;
}
.promo-banners2 i{
  text-decoration: underline;
}
.promo-banners i{
  text-decoration: underline;
}
.product-details .product-heading .heart{
  height: 40px;
  width: 40px;
}
.orang-color{
  color:#FF7A00;
}
.product-details .colors .brown{
 background-color: #800020;
}
.product-details .colors .green{
 background-color: #008000;
}
.product-details .colors .baby-blue{
 background-color: #0000FF;
}
.product-details .colors .orange{
 background-color: #FF7A00;
}
.quantity .input-group{
  width: 30%;
}
.quantity .input-group button{
  width: 10px;
}

.insurance {
  background-color:#C4C4C4 ;
}
.tabs .nav-tabs .nav-item.show .nav-link,
 .tabs .nav-tabs .nav-link.active {
  font-weight: bold;
 }
.tabs .nav-tabs .nav-link {
  border: none;
  border-bottom: solid 1px var(--bs-border-color);
}
.tabs .nav-link{
  color : #9D9D9D;
}
.might-like .mightlike-card {
  min-width: 300px;
}
.footer .links-section{
    background-color: #D1E2EB;
    padding: 150px;
    
} 
.footer .links-section h2{
font-size: 14px;
}
.footer .links-section a{
    text-decoration: none;
    font-size: 14px;
    color: #555555;
}

.footer .footer-imgs img{
    width: 80px;
}
.footer .card{
    background-color: #7296AB;
}

.gray-text{
 color:#999999;
}
.footer-imgs img {
  filter: grayscale(100%);
  opacity: 0.7; 
  transition: 0.3s; 
}
.footer-imgs img:hover {
  filter: grayscale(0%); 
}
.footer {
    padding-top: 120px;
}

.footer .newsletter-card {
    top: -100px; 
    left: 50%;
    transform: translateX(-50%);
    color:white
}


