
:root{
    --primaryColor:#4172DC;
}
/* * {
  outline: 1px solid red;
} */
.ml-90{
    margin-left: 90px;
}
.hero {
  background-image: url(../img/background-hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-btn{
    color: #4172DC;
}
.hero-btn i{
    color: white
}
.hero .card{
    padding: 0px;
    margin: 0px;
}
.hero .card .card-footer{

    background-color: black;
}
.hero .card .card-footer h3{
font-size: 15px;
font-weight: 200;
}
.hero .card .card-body p{
color: red;
font-weight: bold;
}
.hero .card{
top: 33%;
left: 26%;
width: 230px;
height: 150px;
}

@media only screen and (max-width: 991px) {
  .hero .card {
    display: none;
  }
  .footer .copyright{
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .hero  {
    display: none;
  }
  .footer .dropdown,
  .footer .social-media,
  .footer hr ,
  .footer p,
  .footer .copyright,
  .footer .newsletter {
    display: none;
  }
}
.promo-banners .left-side .promo-card1{
background: #BF2E3B;
}
.promo-banners .right-side .promo-card2{
background: #0186C4;
}
.promo-banners2 .left-side .promo-card1{
background: #D11FB5;
}
.promo-banners2 .right-side .promo-card2{
background: #0186C4;
}
.promo-banners2 i{
  text-decoration: underline;
}
.promo-banners i{
  text-decoration: underline;
}
.footer .links-section{
    background-color: #D1E2EB;
    padding: 150px;
    
} 
.footer .links-section h2{
font-size: 14px;
}
.footer .links-section a{
    text-decoration: none;
    font-size: 14px;
    color: #555555;
}

.footer .footer-imgs img{
    width: 80px;
}
.footer .card{
    background-color: #7296AB;
}

.gray-text{
 color:#999999;
}
.footer-imgs img {
  filter: grayscale(100%);
  opacity: 0.7; 
  transition: 0.3s; 
}
.footer-imgs img:hover {
  filter: grayscale(0%); 
}
.footer {
    padding-top: 120px;
}

.footer .newsletter-card {
    top: -100px; 
    left: 50%;
    transform: translateX(-50%);
    color:white
}

